<div class="container">
    <h1>게시판</h1>
    <form action="/write" method="POST" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input name="inputName" id="name" type="text" class="validate">
          <label for="name" data-error="wrong" data-success="작성완료">이름</label>
        </div>
        <div class="input-field col s12">
          <input name="inputTitle" id="title" type="text" class="validate">
          <label for="title" data-error="wrong" data-success="작성완료">제목</label>
        </div>
        <div class="input-field col s12">
          <textarea name="inputPostContent" id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">내용</label>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">전송</button>
      </div>
    </form>
</div>

<% @allPost.each do |p| %>
  이름 :  <%= p.name %><br>
  제목 :  <%= p.title %><br>
  내용 :  <%= p.postContent %><br>
    <%= p.created_at %><br>
    <a href="/update_view/<%=p.id%>">[수정]</a>
    <a href="/destroy/<%=p.id%>">[삭제]</a>
    <hr>
    <br>
    <% p.replies.each do |f|%>
    댓글작성자: <%= f.editor %><br>
    댓글내용: <%= f.content %><br>
    <a href='/reply_destroy/<%=f.id%>'>[댓글삭제]</a>
    <br>
    <%end%>
    
    <form action="/reply_write" method="POST" class="col s12">
      <div class="row">
        <div class="input-field col s12">
            <input type="hidden" name="reply_id" value="<%=p.id%>">
          <input name="inputEditor" id="name" type="text" class="validate">
          <label for="name" data-error="wrong" data-success="작성완료">댓글작성자</label>
        </div>
        <div class="input-field col s12">
          <input name="inputContent" id="title" type="text" class="validate">
          <label for="title" data-error="wrong" data-success="작성완료">댓글내용</label>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">댓글작성</button>
      </div>
    </form>

<% end %>